.container{
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow-wrap: break-word;
    font-size: 1.125rem;

}
.heading{
    text-align:center;
    font-size:50px;
    font-weight:700;
    padding : 82px 10px 0 10px;
    color: #1D619C;
}
.subHeading{
    
    font-size:36px;
    font-weight:700;
    padding : 10px 0 10px 0;
    color: #1D619C;
}


  
 
  .Link{
    font-size: 20px;
    color:red;
  }

  .normal p{

    font-size:20px;
  }

  .normalText{
    text-align:left;
    font-size: 3vmin;
    padding:5px 0px 5px 0px;
  }

  @media only screen and (max-width: 400px) {
    .heading{
        font-size:2em;
    }
    .subHeading{
        font-size: 1.5em;
    }
    .normalText { 
       font-size: 1em; 
       padding:0.5em 0em 0.5em 0em;
    }
 
 }