.SponsersBox{
    padding:100px 250px 100px 250px;
}

.SponsersText{
    font-size:40px;
    font-weight: 500;
    padding : 3.8125rem 0px 0px 0px;
}

.SponsersHeaderText{
    font-size:20px;
    font-weight: 500;
    padding : 3.8125rem 0px 0px 0px;
}

.SponsersImages{
    padding:10px 250px 10px 250px;
}

@media only screen and (max-width: 700px){
    .SponsersBox{
        padding:10px 0 10px 0;
    }
    .SponsersText{
        font-size:1em;
        padding-top:1rem;
    }
    .SponsersImages{
        padding : 10px 0 10px 0;
    }
}

