.navdiv{
    background-color: #f3f3f3 !important;
}
.navItem{
    color:rgb(5, 1, 1) !important;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    padding-left: 10px;
    padding-left: 10px;
    margin: 1rem;
}
@media (max-width: 984px) {
    .navItem{
        margin: 0rem;
    }
  }
.navItem:hover{
    background-color:#f44949 !important;
    
}
.navHead{
    
    color:#f44949  !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    font-family: "Catamaran", sans-serif;
    padding-right: 1rem;
    border-right: 2px solid #f44949 ;

}