.navdiv {
  background-image: linear-gradient(to right,hsl(208, 69%, 36%) 60%,#f44949  100%), linear-gradient(to right, #1D619C 60%,#EF6C4C  100%);
}
.navItem {
  color: #fff !important;
  /* border-radius: 4px; */
  transition: all 0s ease-in-out !important;
  padding-left: 10px;
  padding-left: 10px;
  margin: 1rem;
}
@media (max-width: 1100px) {
  .navItem {
    margin: 0rem;
  }
}
.navItem:hover {
  /* background-color: #f44949 !important; */
  border-bottom: 2px solid #f44949 !important;
  color: #f44949 !important;

}
.navHead {
  color: yellow !important;
  font-size: 32px !important;
  font-weight: 700 !important;
  font-family: "Catamaran", sans-serif;
  padding-right: 1rem;
  border-right: 2px solid #f44949;
}

