.heroImage{
    height: 90vh;
    object-fit: cover;
}
.block{
    background-color: rgba(27, 27, 27,0.4);
    padding-top: 5px;
    padding-bottom: 5px;
}
  
  .block h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 74px;
    margin-bottom: 10px;
  }
  
  .block h3 {
    font-size: 74px;
  }
  
  .block h6 {
    margin-top: 48px;
    font-weight: 400;
    margin-bottom: 60px;
  }

  .block span {
    color: #f44949;
  }

  @media (max-width: 767px) {
    .bgBannerTwo {
        background: white;
      }
    .overlayWhiteSlant:before {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    .block h1 {
        font-size: 60px;
      }
      
      .block h2 {
        font-weight: 400;
        font-size: 50px;
        
      }
      
      .block h3 {
        font-size: 38px;
      }
      
      .block h6 {
        margin-top: 20px;
        font-weight: 300;
        
      }
  }
