.heroImage{
    height: 90vh;
    object-fit: cover;
    opacity: 0.4;
}
.carouseitem{
  background-color: rgb(0, 0, 0);
}
.block{
    background-color: rgba(27, 27, 27,0.4);
    padding-top: 5px;
    padding-bottom: 5px;
}

  
  .block h2 {
    font-weight: 500;
    color: orange;
    text-transform: uppercase;
    font-size: 64px;
    margin-bottom: 10px;
  }
  
  .block h3 {
    font-size: 44px;
    color: orange;
    font-weight: 500;
  }

  .block h4 {
    font-size: 24px;
    color: orange;
    font-weight: 400;
  }
  
  .block h6 {
    margin-top: 32px;
    font-weight: 400;
    margin-bottom: 60px;
  }

  .block span {
    color: #1D619C;
  }

  @media (max-width: 767px) {
    .bgBannerTwo {
        background: white;
      }
    .overlayWhiteSlant:before {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    .block h1 {
        font-size: 50px;
      }
      
      .block h2 {
        font-weight: 400;
        font-size: 40px;
        
      }
      
      .block h3 {
        font-size: 30px;
      }
      
      .block h6 {
        margin-top: 16px;
        font-weight: 300;
        
      }
  }

  @media (max-width: 400px) {
    .block h1 {
        font-size: 30px;
      }
      
      .block h2 {
        font-weight: 200;
        font-size: 20px;
        
      }
      
      .block h3 {
        font-size: 16px;
      }
      
      .block h6 {
        margin-top: 10px;
        font-weight: 200;
        
      }
  }
