.registerBox{
    padding-bottom: 3rem;
}
.registerPara{
    text-align:center;
    font-size:30px;
}
.centerTable{
    align-items:center;
    justify-content:center;
    font-size: 30px;
}
.Heading{
    text-align: center; 
    margin-top:3rem;margin-bottom: 2rem; font-size :50px; font-weight: bold;
    color:Black;
}
@media only screen and (max-width: 500px){
    .registerPara{
        text-align: left;
        font-size:1em;
    }
}

