.bgBanner {
    background: linear-gradient(to bottom, #000000, #000000), url(../../public/IIIT_Sricity/IIITSricity_photo3.png) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
  }

  .secondaryHeader{
    color: white;
    font-weight: 500;
  }

  .secondaryHeaderMain{
    color:#ec0d0d;
  }
  
  @media (max-width: 600px) {
    .secondaryHeader{
      font-size: 1.5rem !important;
      font-weight: 300;
    }
  }