.cardImg{
    transition: all 0.2s ease-out;
}
.cardImg:hover{
    transform: scale(1.05);
}

.cardSVG{
    transition: all 0.2s ease-out;

}
.cardSVG:hover{
    transform: scale(1.20);
    opacity: 0.7;
}