.speakers {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.speakers .speakers_heading h2{
  color: #171822;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
  font-family: "Work Sans", sans-serif;
}

.speakers .btn{
    font-size: 16px;
	color: #171822;
    text-decoration: none;
	font-weight: 600;
	position: relative;
    background-color: transparent;
}

.speakers .btn:before {
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 2px;
	width: 100%;
	background: #f44949;
	content: "";
}
